<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lagel.com">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.lagel.com.mqttchat.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lagel.com.main.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lagel.com.main.activity.PhoneAuthActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!--Landing Activity-->
        <activity
            android:name="com.lagel.com.main.activity.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--LoginOrSignupActivity-->
        <activity
            android:name="com.lagel.com.main.activity.LoginOrSignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- NumberVerificationActivity -->
        <activity
            android:name="com.lagel.com.main.activity.NumberVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- NumberVerificationActivity -->
        <activity
            android:name="com.lagel.com.Twiter_manager.OAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- HomePageActivity -->
        <activity
            android:name="com.lagel.com.main.activity.HomePageActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.lagel.com.main.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />



        <!-- ForgotPasswordActivity -->
        <activity
            android:name="com.lagel.com.main.activity.EnterCodeSMSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ProfileSettingActivity -->
        <activity
            android:name="com.lagel.com.main.activity.ProfileSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--EditProfileActivity-->
        <activity
            android:name="com.lagel.com.main.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--VerifyPhoneNoActivity-->
        <activity
            android:name="com.lagel.com.main.activity.VerifyPhoneNoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >

    </activity>


        <!--Verify EmailId Activity-->
        <activity
            android:name="com.lagel.com.main.activity.VerifyEmailIdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Language Select Activity-->
        <activity
            android:name=".main.activity.LanguageSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ProfileNumberVerifyActivity -->
        <activity
            android:name="com.lagel.com.main.activity.ProfileNumberVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--NotificationActivity-->
        <activity
            android:name="com.lagel.com.main.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Explore Filter Activity-->
        <activity
            android:name="com.lagel.com.main.activity.FilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Self Profile Activity-->
        <activity
            android:name="com.lagel.com.main.activity.SelfProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Product Details Activity -->
        <activity
            android:name="com.lagel.com.main.activity.products.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <!-- ReportProductActivity -->
        <activity
            android:name="com.lagel.com.main.activity.products.ReportProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- ReportUserActivity -->
        <activity
            android:name="com.lagel.com.main.activity.ReportUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- Products Map Activity -->
        <activity
            android:name="com.lagel.com.main.activity.products.ProductsMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Product Images Activity -->
        <activity
            android:name="com.lagel.com.main.activity.products.ProductImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <!-- Product Images Activity -->
        <activity
            android:name="com.lagel.com.main.activity.products.ProductReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--SelfFollowingActivity-->
        <activity
            android:name="com.lagel.com.main.activity.SelfFollowingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--UserFollowingActivity-->
        <activity
            android:name="com.lagel.com.main.activity.UserFollowingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--DiscoverPeopleActivity-->
        <activity
            android:name="com.lagel.com.main.activity.DiscoverPeopleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- PhoneContactsActivity -->
        <activity
            android:name="com.lagel.com.main.activity.PhoneContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- PhoneContactsActivity -->
        <activity
            android:name="com.lagel.com.main.activity.FacebookFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--UserLikesActivity-->
        <activity
            android:name="com.lagel.com.main.activity.UserLikesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--MakeOfferActivity-->
        <activity
            android:name="com.lagel.com.main.activity.MakeOfferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Camera Activity -->
        <activity
            android:name="com.lagel.com.main.activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <!-- Camera Activity -->
        <activity
            android:name="com.lagel.com.main.activity.Camera2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Gallery Activity -->
        <activity
            android:name="com.lagel.com.main.activity.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Search Product Activity -->
        <activity
            android:name="com.lagel.com.main.activity.SearchProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Post Product Activity -->
        <activity
            android:name="com.lagel.com.main.activity.PostProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Post Product Activity -->
        <activity
            android:name="com.lagel.com.main.activity.UpdatePostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ProductCategoryActivity -->
        <activity
            android:name="com.lagel.com.main.activity.ProductCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- PostConditionsActivity -->
        <activity
            android:name="com.lagel.com.main.activity.PostConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CurrencyListActivity -->
        <activity
            android:name="com.lagel.com.main.activity.CurrencyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ChangeLocationActivity -->
        <activity
            android:name="com.lagel.com.main.activity.ChangeLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ChangeLocationActivity -->
        <activity
            android:name="com.lagel.com.main.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- EditProductActivity -->
        <activity
            android:name="com.lagel.com.main.activity.EditProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme" />

        <!-- RateUserActivity -->
        <activity
            android:name="com.lagel.com.main.activity.RateUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme" />

        <!-- SelectBuyerActivity -->
        <activity
            android:name="com.lagel.com.main.activity.SelectBuyerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme" />
        <activity
            android:name=".lalita.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme" />

        <!-- ConnectPaypalActivity -->
        <activity
            android:name="com.lagel.com.main.activity.ConnectPaypalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- InsightActivity -->
        <activity
            android:name="com.lagel.com.main.activity.InsightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Promote item -->
        <activity
            android:name="com.lagel.com.main.activity.PromoteItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- GetTotalClicksActivity -->
        <activity
            android:name="com.lagel.com.main.activity.GetTotalClicksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- WebViewActivity -->
        <activity
            android:name="com.lagel.com.main.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SetAppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Facebook page-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name="co.simplecrop.android.simplecropimage.CropImage" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            tools:replace="android:value"
            android:value="@string/facebook_app_id" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Services -->
        <service
            android:name="com.lagel.com.moveCameraObj.FetchAddressIntentService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8c41e9486e74492897473de501e087dbc6d9f391" />


        <!-- Firebase Notifications -->
        <service android:name="com.lagel.com.fcm_push_notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.lagel.com.fcm_push_notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--FCM notification icon.-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!--FCM text color-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_color" />

        <!-- Chat related -->
        <activity
            android:name="com.lagel.com.mqttchat.Activities.ChatMessageScreen"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lagel.com.mqttchat.ImageCropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.lagel.com.mqttchat.Activities.MediaHistory"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lagel.com.mqttchat.Activities.MediaHistory_FullScreenImage"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="com.lagel.com.main.activity.CountrySearchActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.lagel.com.mqttchat.Activities.MediaHistory_FullScreenVideo"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lagel.com.mqttchat.Giphy.GifPlayer"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lagel.com.mqttchat.Giphy.SelectGIF"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lagel.com.mqttchat.SetupProfile.OwnProfileDetails"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.lagel.com.mqttchat.Service.AppKilled" />

        <receiver
            android:name="com.lagel.com.mqttchat.Utilities.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.ACTION_TIME_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lagel.com.mqttchat.Utilities.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--For htc phones -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lagel.com.mqttchat.Utilities.ShutdownReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>



        <service
            android:name=".service.ProductService"  android:exported="false"
            android:label="@string/app_name" />

        <service
            android:name=".service.GPSService"  android:exported="false"
            android:label="@string/app_name" />

        <service
            android:name=".service.CategoryService"  android:exported="false"
            android:label="@string/app_name" />



        <receiver
            android:name=".service.GPSReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.ProductReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.CategoryReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>



        <activity
            android:name="com.lagel.com.mqttchat.Activities.CounterPricePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="ChatMessageScreen" />
    </application>
</manifest>